@{
}

@model IEnumerable<MentorViewModel>

@{
    ViewData["Title"] = "Mentor";
}

<h1 class="display-4">Mentor</h1>

<!--
                string errorMessage = "You cannot delete this mentor because it is associated with one or more students.";
                TempData["ErrorMessage"] = errorMessage;-->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfilePicture)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MentorId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.MentorId" class="btn btn-secondary">Details</a>
                    <form asp-action="Delete" asp-route-id="@item.MentorId" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>