@model RisingStarsData.Entities.Project

@{
    ViewData["Title"] = "Project Details";
}


<div class="container rounded p-5 col-md-6 mt-5">

    <div class="card card-body max-w-2xl mx-auto bg-base-200">

        <div>
            <a asp-action="Index" class="btn btn-ghost">
                <i class="fa fas fa-arrow-left"></i>
                Back to List
            </a>
        </div>
        <div class="flex items-center gap-3 mb-2">

            <div class="me-3">
                <i class="fa fas fa-tasks fa-4x text-primary"></i>
            </div>

            <div class="prose max-w-none">
                <h1 class="display-5 mb-0">@Html.DisplayFor(model => model.Title)</h1>
                <p class="text-muted mb-4 mt-0">@Html.DisplayFor(model => model.Description)</p>
            </div>

        </div>


        <div class="prose flex justify-between max-w-none">
            <p><strong>Start Date:</strong> @Html.DisplayFor(model => model.StartDate)</p>
            <p class="text-end mt-0"><strong>End Date:</strong> @Html.DisplayFor(model => model.EndDate)</p>
        </div>

        <hr />


        <div class="prose max-w-none">
            <h3>Members</h3>
            <ol>
                @foreach (var member in Model.Members)
                {
                    <li>@Html.DisplayFor(modelItem => member.FirstName) @Html.DisplayFor(modelItem => member.LastName) (@Html.DisplayFor(modelItem => member.Email))</li>
                }
            </ol>
        </div>

        <div>
            <form asp-action="Delete" asp-route-id="@Model.ProjectId" method="post" class="d-inline">

                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ProjectId">
                    <i class="fa fas fa-edit"></i>
                    Edit
                </a>

                <button type="submit" class="btn btn-error">
                    <i class="fa fas fa-trash"></i>
                    Delete
                </button>
            </form>
        </div>
    </div>
</div>
